<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h-text {
            color: green
        }

        #h1-text {
            color: blue
        }

        ul > li:nth-child(2) {
        color: blue
        }

        h3 {
            font-size: 30px
        }

        input[type="text"] {
            background-color:yellow
        }
    </style>
</head>
<body>
<div class="one">
    <h1 id="h1-text">Заголовок первого уровня</h1>
    <p>Для современного мира <span style="color: red">экономическая повестка</span> сегодняшнего дня, а также свежий
        взгляд на привычные вещи —
        безусловно
        открывает новые горизонты для инновационных методов управления процессами!</p>
    <h3 class="h-text">Заголовок третьего уровня</h3>
    <ul>
        <li>один</li>
        <li>два</li>
        <li>три</li>
    </ul>
    <div class="two">
        <p>test</p>
        <p>2</p>
        <h2>two</h2>
        <p>not</p>
        <h4>fourth</h4>
    </div>
    <div class="three">
        <h1 id="h1-text2">Ещё один заголовок высокого уровня</h1>
        <ul>
            <li>один</li>
            <li>два</li>
            <li>три</li>
        </ul>
        <table>
            <thead>
            <tr>
                <th>ИД</th>
                <th>наименование</th>
                <th>описание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>море</td>
                <td>синее</td>
            </tr>
            <tr>
                <td>2</td>
                <td>трава</td>
                <td>зелёная</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="https://postgrespro.ru/docs/postgresql/9.6/sql-insert" target="_blank">Postgres Documentation</a>
    <h6 class="h-text">Заголовок шестого уровня</h6>
    <ol>
        <li>один</li>
        <li>два</li>
        <li>три</li>
    </ol>
    <form action="/action" method="post">
        <input required type="text" placeholder="Логин">
        <br>
        <input required type="email" placeholder="Email">
        <br>
        <input required type="password" placeholder="Пароль">
        <br>
        <textarea placeholder="Введите описание"></textarea>
        <br>
        <button disabled type="submit">Отправить</button>
    </form>
    <br>
    <img style="width: 50px" alt="telegram.png"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYC0bqMObpipUdWnsNgTAKhxG2YDXPpBq0_w&s">
</div>
</body>
</html>